/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


body {
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/druid-tree-of-life-brenda-erickson.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  background-size: 300px 300px;

}
  
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: lightgray;
}

.on {
  background-color: black;
}
  
.box:hover { 
  background: red;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}
.gameRules{
  margin: 20px;
  background-color:black;
  border: 1px solid black;
  opacity: 0.6;


}
.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}
  
h1, h2, h3, h4{
  color: red;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}
li{
  color: white;
  text-align: center;
  font-size: 20px;
  
}

h4 {
  margin-top: 0px;
}